$purple: var(--bs-purple);
$purpleLight: #ddd5ec;
$white: #fff;
$black: #2e2e2e;

@mixin purpleButton($color: $purple) {
    background: $purple;
    color: $white;
    border: 0;
    width: 200px;
    border-radius: var(--bs-border-radius-xxl);
}

body {
    height: 100vh;
    background: $black url(../images/binaryBackground.jpg);
    color: $white;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

h1.fs-1 {
    font-size: calc(2rem + 2vw) !important;
}

nav {
    background: var(--bs-secondary-bg);

    a {
        text-decoration: none;
        color: $black;
    }
}

.purple {
    color: $purple;
}
button.purple {
    @include purpleButton();
    transition: 0.5s;

    @media screen and (max-width: 799px) {
        height: 80px;
        width: 300px;
    }
    @media screen and (min-width: 800px) {
        height: 100px;
        width: 375px;
    }
}

button.purple:hover {
    color: $purpleLight;
    opacity: 1;
}