$purple: var(--bs-purple);
$purpleLight: #ddd5ec;
$white: #fff;
$black: #2e2e2e;

@mixin purpleButton($color: $purple) {
    background: $purple;
    color: $white;
    border: 0;
    width: 200px;
    border-radius: var(--bs-border-radius-xxl);
}

body {
    height: 100vh;
}

h1 {
    font-size: 40px;
}

nav {
    background: var(--bs-secondary-bg);
    width: 100%;

    a {
        text-decoration: none;
        color: $black;
    }
}

.purple {
    color: $purple;
}
button.purple {
    @include purpleButton();
}
button.purple:hover {
    @include purpleButton($color: $purpleLight);
}

footer, main {
    width: 100%;
}